<div class="form-structor">
  <form id="register-form" class="signup">
    <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
    <div class="form-holder">
      <input type="text" id="register-name" class="input" placeholder="Name" />
      <input type="email" id="register-email" class="input" placeholder="Email" />
      <input type="password" id="register-password" class="input" placeholder="Password" />
    </div>
    <button type="button" id="register-btn1" class="submit-btn" form="register-form">
      Sign up with Google
    </button>
    <button type="submit" id="register-btn" class="submit-btn">Sign up</button>
  </form>
  <div class="login slide-up">
    <div class="center">
      <h2 class="form-title" id="login"><span>or</span>Log in</h2>
      <div class="form-holder">
        <input type="email" id="login-email" class="input" placeholder="Email" />
        <input type="password" id="login-password" class="input" placeholder="Password" />
      </div>
      <button class="submit-btn">Log in</button>
    </div>
  </div>
</div>
